In [1]:
import pandas as pd

In [4]:
data_dir = "dataset/new_data/"
training_set = pd.read_csv(data_dir + "training_set.csv")
with open(data_dir + "categorical_feature.txt", "r") as f:
    categorical_feature = f.read().split("\n")
    categorical_feature = list(filter(None, categorical_feature))

In [5]:
training_set.head()

,order_id,deal_or_not,group_id,source_1,source_2,unit,people_amount,order_quarter,order_Year,order_Month,...,home_fly_Day,home_fly_Dayofweek,home_fly_Dayofyear,home_fly_Elapsed,home_arrive_Month,home_arrive_Week,home_arrive_Day,home_arrive_Dayofweek,home_arrive_Dayofyear,home_arrive_Elapsed
0,41571,1,53481,1,1,4,4,1,2017,3,...,27.0,5.0,147.0,1.495843e+09,5.0,21.0,28.0,6.0,148.0,1.495930e+09
1,64125,1,53481,2,1,5,1,1,2017,3,...,27.0,5.0,147.0,1.495843e+09,5.0,21.0,28.0,6.0,148.0,1.495930e+09
2,76131,0,53481,2,2,6,2,2,2017,4,...,27.0,5.0,147.0,1.495843e+09,5.0,21.0,28.0,6.0,148.0,1.495930e+09
3,238671,0,53481,2,2,6,2,2,2017,4,...,27.0,5.0,147.0,1.495843e+09,5.0,21.0,28.0,6.0,148.0,1.495930e+09
4,93305,1,41766,2,1,5,1,2,2017,5,...,22.0,5.0,203.0,1.500682e+09,7.0,29.0,23.0,6.0,204.0,1.500768e+09

In [7]:
for col in training_set.columns:
    if "Month" in col and col not in categorical_feature:
        categorical_feature.append(col)

In [9]:
categorical_feature2 = []
for feature in categorical_feature:
    if "Dayofweek" not in feature:
        categorical_feature2.append(feature)

In [11]:
with open(data_dir + "categorical_feature2.txt", "w", encoding="utf-8", newline="") as f:
    for feature in categorical_feature2:
        f.write(feature + "\r\n")